@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:300,400,500,600,700,800,900&amp;display=swap");

/* convert */
.content {
    --mainColor: rgb(44, 123, 229);
    --lightTwo: #aaa;
}

body {
    font-family: "Poppins", sans-serif;
}

/* convert */
img {
    width: 100%;
}

/* convert */
a {
    text-decoration: none;
}

/* convert */
.big-wrapper {
    position: relative;
    padding: 1.7rem 0 2rem;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* convert */
.container {
    position: relative;
    max-width: 81rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 3rem;
    z-index: 10;
}

/* convert */
header {
    position: relative;
    z-index: 70;
}

/* convert */
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* convert */
.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* convert */
.logo img {
    width: 40px;
    margin-right: 0.6rem;
    margin-top: -0.6rem;
}

/* convert */
.logo h3 {
    font-size: 1.55rem;
    line-height: 1.2;
    font-weight: 700;
}

.btn {
    display: inline-block;
    padding: 0.9rem 1.9rem;
    color: #fff !important;
    border-radius: 16px;
}

/* convert */
.showcase-area .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
}

/* convert */
.big-title {
    font-size: 1.4rem;
    color: var(--darkOne);
    text-transform: capitalize;
    line-height: 1.4;
}

/* convert */
.text {
    color: var(--lightOne);
}

/* convert */
.showcase-area .btn {
    box-shadow: 0 0 40px 2px rgba(0, 0, 0, 0.05);
}

/* convert */
.person {
    width: 123%;
    transform: translate(15%, 25px);
}
